*.a
*.la
*.lo
*.o
*.so
*~
.bootstrap
.deps
.emacs*
.libs
ABOUT-NLS
ChangeLog
INSTALL
Make.rules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
build-aux/
config.h
config.h.in
config.log
config.status
configure
gnu
gnulib
libtool
m4
paxutils
stamp-h1
